#value {
    padding: 0;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    
    color: white;
    /*font-size: 3em;*/
    
    background-color: cornflowerblue;   
}

.site-head {
    padding: 1.4rem 2rem;
    text-align: center;
    margin-top: 6rem;
    display: inline-block;
}

.site-head .title {
    position: relative;
    display: inline-block;
}

#urlBox {
    margin: 1px auto;
    margin-top: 40px;
    width: 90%;
    height: 3em;
    caret-color: cornflowerblue;
    size: 1em;
}

button {
    margin: 4px auto;
}

#convertButton {
    margin: 1em auto;
    padding: 13px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #FF7F50;
    border: solid 3px #e57248;
    border-radius: 4px;
    transition-duration: 0.5s;
}

#convertButton:hover {
    border: solid 3px chartreuse;
    background-color: #4CAF50;
}

#downloadButton {
    margin: 4px auto;
    padding: 6px;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    background-color: #32CD32;
    border: solid 3px #228B22;
    border-radius: 28px;
}

p {
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
}

.flexboxMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 700px) {
    #value {
        width: 100%;
    }
    
    p {
        font-size: 2.45em;
    }
}