.site-head {
    padding: 1.4rem 2rem;
    text-align: center;
    margin-top: 6rem;
    font-family: Verdana;
}

.site-head .title {
    position: relative;
    display: inline-block;
    font-weight: 800;
}

input {
    margin: 1px auto;
    margin-top: 40px;
    width: 60%;
    height: 3em;
    caret-color: cornflowerblue;
    size: 1em;
    padding: 0.8em;
    border: solid transparent;
    border-radius: 6px;
}

button {
    cursor: pointer;    
    margin: 1.2em auto;
    padding: 13px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #FF7F50;
    border: solid 3px #e57248;
    border-radius: 4px;
    transition-duration: 0.5s;
}

button:hover {
    border: solid 3px chartreuse;
    background-color: #4CAF50;
}

button:active {
    background-color: cadetblue;
    border-color: darkslateblue;
    transition-duration: 0s;
}

p {
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
}

.results {
    font-size: 2em;
    font-family: monospace;
    margin-bottom: 3em;
}

.flexboxMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

@media (max-width: 700px) {
    input {
        width: 80%;
    }
}