#value {
    overflow: hidden;
    padding: 0;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    
    color: white;
    /*font-size: 3em;*/
    
    background-color: cornflowerblue;   
}

#urlBox {
    margin: 1px auto;
    margin-top: 40px;
    width: 90%;
    height: 3em;
    caret-color: cornflowerblue;
    size: 1em;
}

button {
    margin: 4px auto;
}

#convertButton {
    margin: 4px auto;
    padding: 13px;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: #FF7F50;
    border: solid 3px #e57248;
    border-radius: 28px;
}

#downloadButton {
    
}

p {
    margin: 0 auto;
    font-size: 3em;
}

.flexboxMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}